
tts/
__pycache__/
credentials/
.idea/
stream_sources/chyron.txt
stream_sources/brb.txt
*.log
timers/
event_logs/logs/
logs/event_logs/
standalone-core/db_data/
standalone-core/pgadmin_data/
standalone-core/user_client/v2/apps/home/migrations/