BadWordObfuscator
pynput
twitch-python
twitchAPI
SQLAlchemy
pandas
numpy
gTTS
playsound
novus[voice]
PyNaCl
psutil
art
phue
flask
requests
windyquery
pyparsing
psycopg2
numexpr
paramiko
youtube_dl
simpleobsws