{% extends 'layouts/base.html' %}

{% block title %} Chyron {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h6>Commands</h6>
          </div>

          <table class="table align-items-center overflow-scroll">
            <thead>
              <form method="post" action="/commands.html">
                {% csrf_token %}
                <h4 class="card-header">New Command Entry</h4>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">command<br>{{ commands_form.command }}</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">response<br>{{ commands_form.response }}</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Enabled / Disabled<br>{{ commands_form.isEnabled }}</th>
                <th class="text-secondary opacity-7 bg"><input type="submit" value="New Entry" name="newCommandEntry_Btn" class="btn btn-primary bg-gradient-faded-info"></input></th>
              </tr>
            </form>
            </thead>
            </table>


      <br>

      <table class="table align-items-center overflow-scroll">
        <thead>
          <h4 class="card-header">Command Entries</h4>
          <tr>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">command</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">response</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Enabled / Disabled</th>
            <th class="text-secondary opacity-7"></th>
          </tr>
        </thead>
        <tbody>
          {% for command_ in commands_list %}





          <tr class="align-middle text-center">
            <form method="post" action="/commands.html">
            {% csrf_token %}
            <td>
            <input type="text" name="command" class="w-100" value="{{ command_.command }}">
            </td>
            <td>
            <input type="text" name="response" class="w-100" value="{{ command_.response }}">
            </td>
            <td>
              {% if command_.isEnabled == True %}
              <input type="checkbox" name="isEnabled" value="True" checked>
              {% endif %}
              {% if command_.isEnabled != True %}
              <input type="checkbox" name="isEnabled" value="True">
              {% endif %}


            </td>
            <td>
            <input type="hidden" name="hidden_id" value="{{ command_.id }}">
            <input type="submit" value="Update" name="UpdateCommand_Btn" class="btn btn-primary bg-gradient-faded-warning"></input>
            </form>

            <td class="align-middle text-center">
              <a href="#" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete item">
                <form action="" method="get">
                  {% csrf_token %}
                  <input type="hidden" name="hidden_id" value="{{ command_.id }}">
                  <input type="submit" value="Delete" name="Deletebtn" class="btn btn-outline-danger"></input>
                </form>
              </a>
            </td>

          </tr>


          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>
<div>




    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
