  
  <footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          <a href="https://github.com/thecuriousnerd/Praxis-Bot/wiki" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Wiki
          </a>
          <a href="https://discord.io/thecuriousnerd" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Support
          </a>
          <a href="https://patreon.com/thecuriousnerd" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Patreon
          </a>
        </div>
        <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
          <a href="https://thecuriousnerd.com" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-dribbble"></span>
          </a>
          <a href="https://twitter.com/thecuriousnerd" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-twitter"></span>
          </a>
          <a href="https://instagram.com/alex_orid" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-instagram"></span>
          </a>
          <!--<a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-pinterest"></span>
          </a>-->
          <a href="https://github.com/thecuriousnerd/Praxis-Bot" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-github"></span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
            <a href="https://github.com/thecuriousnerd/Praxis-Bot" target="_blank">Praxis-Bot</a> - created by
            <a href="https://thecuriousnerd.com" target="_blank">The Curious Nerd</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  